
:root {
    --font-primary: 'Rubik', sans-serif;
    --font-secondary:;
    --color-background: #fffefc;
    --color-section-two: #f7f7f7;
    --color-primary: #00304b;
    --color-secondary: #f8c017;
    --color-highlight: #d72638;
}

html, body {
	margin: 0 auto;
	padding: 0;
    /*overflow-x: hidden;*/
	width: 100%;
	height: 100%;
	background-color: var(--color-background)
}

h1 {
	font-family: var(--font-primary);
}

a {
    color: var(--color-primary);
}

a:hover {
    color: var(--color-secondary);
}

section {
    min-height: 100%;
}

footer {
    min-height: 50%;
    background-color: var(--color-primary);
}

footer h5 {
    color: var(--color-background);
    font-family: var(--font-primary);
}

.section-two-color {
    background-color: var(--color-section-two);
}

.navbar {
    background-color: var(--color-primary);
}

.highlight {
    color: var(--color-highlight);
}

#above-the-fold {
	min-height: 100%;
}

.scroll-down-indicator {
    position: absolute;
    bottom: 3%;
    right: 0;
    left: 0;
    margin: auto;
}

.bg-image-overlay {
    background: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.6)), url("pexels-photo-864994.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /*jugar con esto */
    height: 100%;
    color: #efefef;
    background-attachment: fixed;
}

.btn-primary {
	background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.btn-primary:hover {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    animation: pop 0.3s linear 1;
}


span.highlight:hover {
    text-decoration: line-through;
}


@keyframes pulse{
  25%  {transform: scale(0.9);}
  75%  {transform: scale(1.1);}
}
@keyframes push{
  50%  {transform: scale(0.8);}
}
@keyframes pop{
  50%  {transform: scale(1.05);}
}


